{% extends "app1/index.html" %}
{% block content %}
    <h1>Usuarios</h1>
    <br><br>
    <table class="table table-success table-striped">
        <thead>
            <th>Nombre</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Nacimiento</th>
            <th>Telefono</th>        
        </thead>
        <tbody>
            {% if usuarios %}
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.password}}</td>
                        <td>{{usuario.nacimiento}}</td>
                        <td>{{usuario.telefono}}</td>
                        </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <br><br>
{% endblock content %}