{% extends "app1/index.html" %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Menu de usuario de Manager</h1>
    <br><br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-secondary" type="button" onclick="location.href='/managermenu/vercompras'">Ver todas las compras</button>
        <button class="btn btn-success" type="button" onclick="location.href='/managermenu/verusuarios'">Ver Usuarios</button>
        <button class="btn btn-warning" type="button" onclick="location.href='/managermenu/buscarproducto'">Ver modelos de un producto disponibles</button>
        <button class="btn btn-danger" type="button" onclick="location.href='/managermenu/ingresoproducto'">Ingresar productos a la venta</button>
        <button class="btn btn-light" type="button" onclick="location.href='/managermenu/verproductos'">Ver productos a la venta</button>
        <button class="btn btn-dark" type="button" onclick="location.href='/managermenu/ingresocompras'">Ingresar compras</button>
        <button class="btn btn-primary" type="button" onclick="location.href='/managermenu/producto_x_categoria'">Producto por categoría</button>
    </div>
{% endblock content %}