{% extends "base/navbar.html" %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <br><br>
    <h1>Menu de usuario de {{ user.username }}</h1>
    <br><br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-info" type="button" onclick="location.href='/menu/view_profile'">Ver perfil</button>
        <button class="btn btn-success" type="button" onclick="location.href='/menu/ingresocompras'">Comprar</button>
        <button class="btn btn-warning" type="button" onclick="location.href='/menu/vercompras'">Ver compras</button>
    </div>
{% endblock content %}