{% extends "base/navbar.html" %}
{% block content %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}  
    <br><br>
    <h1>Blogs</h1>
    <br><br>
    {% if blogs %}
        <table class="table table-success table-striped">
            <thead>
                <th>Título</th>
                <th>Autor</th>
                <th>Fecha de creación</th>
                <th>Accion</th>            
            </thead>
            <tbody>
                {% for blog in blogs %}
                    <tr>
                        <td>{{blog.titulo}}</td>
                        <td>{{blog.autor}}</td>
                        <td>{{blog.fecha}}</td>
                        <td><button class="btn btn-warning btn-sm" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;" onclick="location.href='{% url 'blog_detalle' blog.id %}'">Ver detalle</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% load static %}
        <figure class="mb-4"><div style="text-align: center;"><img class="img-fluid rounded" src="{% static 'base/assets/img/notfound.png' %}" alt="..." /></figure></div>
        <br><br>
        <div style="text-align: center;"><h1>UPS! No hay nada que mostrar aún</h1></div>
    {% endif %}   
{% endblock content %}