{% extends "base/navbar.html" %}
{% block content %}
    <br><br>
    <h1>Productos</h1>
    <br><br>
    <table class="table table-success table-striped">
        <thead>
            <th>Modelo</th>
            <th>Producto</th>
            <th>Marca</th>
            <th>Precio</th>   
            <th>Acción</th>       
        </thead>
        <tbody>
            {% if productos %}
                {% for producto in productos %}
                    <tr>
                        <td>{{producto.modelo}}</td>
                        <td>{{producto.producto}}</td>
                        <td>{{producto.marca}}</td>
                        <td>{{producto.precio}}</td>
                        <td><button class="btn btn-warning btn-sm" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;" onclick="location.href='/'">VER INFO</button></td>
                        </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock content %}