{% extends "base/navbar.html" %}
{% block content %}
    <br><br>
    <h1>Usuario</h1>
    <br><br>
    {% if usuario %}
    <table class="table table-success table-striped">
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acción</th>   
            <th></th> 
        </thead>
        <tbody>
                <tr>
                    <td>{{usuario.first_name}}</td>
                    <td>{{usuario.last_name}}</td>
                    <td>{{usuario.email}}</td>
                    <td><button class="btn btn-warning btn-sm" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;" onclick="location.href='/menu/edit_profile'">Editar Perfil</button></td>
                    <td><button class="btn btn-warning btn-sm" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;" onclick="location.href='/menu/edit_avatar'">Crear o editar Avatar</button></td>
                </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock content %}